<div class="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <span class="text-muted">Place sticky footer content here. &copy; 2020 @hendisantika</span>
    </div>
</div>
